In [2]:
import pandas as pd
import numpy as np
import math
import scipy.stats as stats
import statistics 
from flask import request

In [3]:
data = pd.read_csv('Cupid dataset.csv')

In [4]:
data.head()

,S.no,Services,AWS response time,In House response time
0,0,Sentiment Analysis,32,96
1,1,Named entity detection,16,78
2,2,Category classification,12,64
3,3,Snippeting tool,34,84
4,4,Automatic Speech recognition,20,70

In [5]:
data.drop('S.no' , axis=1 , inplace=True)

In [6]:
data.drop('Services' , axis=1, inplace=True)

In [7]:
data.rename({'AWS response time' : 'AWS_response_time', 'In House response time' :'In_House_response_time'}, axis=1, inplace=True)

In [8]:
data.head()

   AWS_response_time  In_House_response_time
0                 32                      96
1                 16                      78
2                 12                      64
3                 34                      84
4                 20                      70

# Two-sample T-test With Python

The Independent Samples t Test or 2-sample t-test compares the means of two independent groups in order to determine whether there is statistical evidence that the associated population means are significantly different. The Independent Samples t Test is a parametric test. This test is also known as: Independent t Test

$ X^2 = \sum(o-e)^2 / e $

In [22]:
#Null hypothesis H0: there is no change in the IT service provider(In_House_response_time)
#Alternate hypothesis H: there is going to be change in the IT service provider(AWS_response_time)

In [9]:
np.mean(data)

AWS_response_time         33.533333
In_House_response_time    76.466667
dtype: float64

In [13]:

from scipy import stats
np.random.seed(12)
stats,p_value=stats.ttest_ind(data['AWS_response_time'], data['In_House_response_time'],equal_var=False)

In [14]:
print(p_value)

6.6954310044894946e-21

In [15]:
if p_value <0.05 :
    print('we are rejecting the null hypothesis')
else :
    print('we are accepting the null hypothesis')

we are rejecting the null hypothesis

In [16]:
#one sample ttest

from scipy.stats import ttest_1samp
tscore,pvalue =ttest_1samp(data, popmean=data)

In [17]:
print('t statitics', tscore)

t statitics     AWS_response_time  In_House_response_time
0            0.702780               -9.792778
1            8.036131               -0.768716
2            9.869469                6.249998
3           -0.213889               -3.776737
4            6.202793                3.241978
5            3.452787                1.236631
6           -0.213889               -1.771390
7            0.702780               -0.768716
8           -5.713903               -6.784757
9           -2.047227               -2.774063
10          -1.130558               -1.771390
11           8.036131                8.255345
12          10.786138               11.263366
13          -7.547241               -7.787431
14          -0.213889                0.233957
15          -4.797234               -3.776737
16          -1.130558                0.233957
17          -0.213889                1.236631
18           6.202793                8.255345
19          -8.463910               -6.784757
20          -7.547241               -5.782084
21          -6.630572               -4.779410
22          -4.797234               -2.774063
23           0.702780                3.241978
24          -7.547241               -4.779410
25          -3.880565               -0.768716
26          -1.130558                2.239304
27          -1.130558                2.239304
28           4.369455                8.255345
29           5.286124                9.258019

In [18]:
np.mean(tscore)

AWS_response_time        -1.184238e-15
In_House_response_time    1.006602e-15
dtype: float64

In [19]:
print('p value', pvalue)

p value [[4.87796746e-01 1.05905186e-10]
 [7.31317037e-09 4.48277181e-01]
 [8.88434068e-11 8.04090072e-07]
 [8.32130028e-01 7.30912656e-04]
 [9.14521180e-07 2.98030304e-03]
 [1.72543991e-03 2.26145992e-01]
 [8.32130028e-01 8.70058915e-02]
 [4.87796746e-01 4.48277181e-01]
 [3.50103875e-06 1.89786340e-07]
 [4.97909841e-02 9.58204244e-03]
 [2.67504812e-01 8.70058915e-02]
 [7.31317037e-09 4.21703084e-09]
 [1.15358297e-11 4.15463452e-12]
 [2.55206760e-08 1.37593381e-08]
 [8.32130028e-01 8.16662032e-01]
 [4.45585095e-05 7.30912656e-04]
 [2.67504812e-01 8.16662032e-01]
 [8.32130028e-01 2.26145992e-01]
 [9.14521180e-07 4.21703084e-09]
 [2.51208742e-09 1.89786340e-07]
 [2.55206760e-08 2.90060777e-06]
 [2.86968207e-07 4.68189107e-05]
 [4.45585095e-05 9.58204244e-03]
 [4.87796746e-01 2.98030304e-03]
 [2.55206760e-08 4.68189107e-05]
 [5.52779060e-04 4.48277181e-01]
 [2.67504812e-01 3.29718663e-02]
 [2.67504812e-01 3.29718663e-02]
 [1.45559720e-04 4.21703084e-09]
 [1.14526761e-05 3.68263834e-10]]

In [20]:
np.mean(pvalue)

0.16018896685655656

In [21]:
if np.mean(pvalue) <0.05:
    print('we are rejecting null hypothesis')
else:
    print('we are accepting null hypothesis')

we are accepting null hypothesis

In [23]:
if p_value <0.05:
    print('we are rejecting null hypothesis')
else:
    print('we are accepting null hypothesis')

we are rejecting null hypothesis